
body {
	font-family: 'Asap', sans-serif;
}
/* Estilos lista del footer */
ul {
	display: inline-block;
	list-style: none;
	padding-top: 3%;

}

ul a {
	color: #fff;
}
li {
	line-height: 30px;
}

h4::before { 
  content: "______";
  color: #fff;
  font-weight: bolder;
}
h4::after { 
  content: "______";
  color: #fff;
  font-weight: bolder;
}
/* Barra de Navegación */
.navbar{
	border-color: transparent;
}

.navbar-default {
    background-color: #fff;    
}
/* Primera seccion imagen Taxi */
.col-image {
	background-image: url(../assets/images/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 90vh;
	width: 100%;
}
/* Cuadro registrate o convierte en Conductor */
.div-taxi {
	background-color: #FFC107;
	color: #fff;
	padding: 3%;

	margin-top: 10%;
}

.div-amarillo {
	background-color: #FFC107;
	height: 70vh;
	width: 100%;


}

/* Tercera seccion imagen del conductor */
.image-conductor {
	background-image: url(../assets/images/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 70vh;
	width: 100%;
}

.labCar {
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	height: 70vh;
	padding-top: 10%;
	padding-left:3%;

}

.botonCond {
	background-color: #FFC107;
	border-color: #FFC107;
	color: #fff;
}
/* Sección Mapa */
.div-amarillo2 {
	background-color: #FFC107;
	color: #fff;
	height: 70vh;
	width: 100%;
}

.ruta {
	background-color:#FFC107; 
	border: 1px solid #fff;
	border-radius: 5px;
	height: 5vh;
	width: 45%;

}
.ruta::placeholder {
	color: #fff;
}


.div-map {
	padding: 2%;
	border: 1px solid #fff;
	margin-top: 10%;
}




.footer-grey {
	background-color: #2B2B2B;
	height: 70vh;
	width: 99%;
}

/* Estilo de iconos */

.fa {
	color: #fff;
}
 /* Icono Modal */
.fa-user, .fa-lock {
	
	color: #000;
}
/*  Estilos Footer */
.grey2{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 50vh;

	
}
.images-app {
	cursor: pointer;
}
.derechos {
	color: #fff;
}
